.root {
  width: var(--app-main-width);
  height: var(--app-main-height);
  border-left: var(--app-border);
}

.function {
  min-height: var(--app-function-bar-height);
  border-bottom: var(--app-border);
  padding: 4px 8px;
}

.content {
  height: calc(100% - var(--app-function-bar-height));
  overflow: auto;
}
