.root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  --app-header-height: rem(42px);
  --app-footer-height: rem(42px);
  --app-function-bar-height: rem(42px);
  --app-sidebar-width: rem(42px);
  --app-main-width: calc(100vw - var(--app-sidebar-width));
  --app-main-height: calc(100vh - var(--app-header-height) - var(--app-footer-height));
  --app-main-content-height: calc(var(--app-main-height) - var(--app-function-bar-height));

  @mixin light {
    --app-border: rem(1px) solid var(--mantine-color-gray-3);
  }

  @mixin dark {
    --app-border: rem(1px) solid var(--mantine-color-dark-4);
  }
}

.header {
  height: var(--app-header-height);
}

.logo {
  height: var(--app-header-height);
  width: var(--app-header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(6px);
}

.logo img {
  width: 100%;
  height: auto;
}

.content {
  border-top: var(--app-border);
  display: flex;
  flex: 1;
}

.sidebar {
  width: var(--app-sidebar-width);
}

.view {
  width: var(--app-main-width);
  height: var(--app-main-height);
  border-left: var(--app-border);
}

.footer {
  border-top: var(--app-border);
  height: var(--app-footer-height);
}
